// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body, #all {
  background-color: #000019;
}

h1, p {
  margin-top: 40px;
  font-family: "Times New Roman";
  color: white;
}

.left, .right {
  display: inherit;
  font-size: 25px;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 15px;
}

.quotebox {
  text-align: center;
  width: 100%;
}

.text {
  display: inline;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}


.jumbotron {
  width: 30%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: black;
  border: 4px solid grey;
  border-radius: 10px;
  height: auto;
  background-color: white;
}

.quote, .author {
  margin-top: 5px;
  font-family: "Times New Roman";
  color: black;
  display: inherit;
  text-align: middle;
}


.quote {
  font-size: 40px;

}

.author {
  font-style: italic;
}



#newquote, .twitter {
  margin-top: 10px;
  font-family: "Times New Roman";
}